on: [push, pull_request]
jobs:
  commit_linter_job:
    runs-on: ubuntu-latest
    name: A job to lint the current commit of the branch
    steps:
      - name: Commit Linter Action
        id: lintResult
        uses: Rxinui/commitlinter@develop
        with:
          # commitMessage:
          commitTags: "new,fix,doc,ref,wip"
          commitIssueId: "LINT"
